::-webkit-scrollbar {
  display: none;
}
.cardScroll {
  overflow: scroll;
  text-decoration: none;
  color: gray;
  font-size: 1rem;
  font-weight: 600;
  height: 150px;
  margin-left: 2rem;
}
.logbtn{
border-radius: 25px;
margin: 2rem;
}