.navbar,
.navbar-collapse {
  flex-direction: column;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: column;
}
.navbar {
  width: 18%;
  height: 100vh;
  align-items: flex-start;
  margin-left: 3rem;
}
.navbar-brand {
  margin-left: 0.5em;
  padding-bottom: 0;
  border-bottom: 4px solid #464646;
}
form input {
  margin-bottom: 0.7em;
}
#navbarSupportedContent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1.5rem;
  font-size: larger;
}
.myLink {
  margin: 1rem;
  text-decoration: none;
  color: aliceblue;
}

.myLink .active {
  color: rgb(237, 237, 189); /* Change this to the color of your choice */
  content: "";
  opacity: 1;
  border-radius: 10px;
}

.nav-link {
  color: rgb(136, 177, 212);
  text-align: left;
font-weight:700;
}
.nav-link:hover {
  content: "";
  color: rgb(136, 177, 212);
  opacity: 1;
  border-radius: 10px;
}
.navbar-nav .nav-link.active {
  color: rgb(237, 237, 189); /* Change this to the color of your choice */
  content: "";
  opacity: 1;
  border-radius: 10px;
}
.h-line{
  width: 12vw;
  height: 3px;
  border: 0 none;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}